mixin article-section-thumb(mainNews)
    .row.m.card.sv-paper-elements-background(class='pt+ pb')
        .col-xs-3
            a(style='display:block;border:1px #F5F5F5 solid;position:relative;overflow:hidden;height:80px' href='/articles/#{mainNews.fbkey}/')
                img(src="#{mainNews.img}" style='position:relative;width:100%;display:block')
        .col-xs-9
            a.tc-grey-700(href='/articles/#{mainNews.fbkey}/')
                span.display-block.fs-subhead !{mainNews.title}
                span.display-block.fs-body-1 !{mainNews.summary}

